.markItemsContainer p[data-v-4c1f9e9f]{margin-bottom:0}.markItemsTitle[data-v-4c1f9e9f]{width:120px;text-align-last:justify}.pR[data-v-4c1f9e9f]{padding-right:9px!important}.bi-columns-gap[data-v-4c1f9e9f]{font-size:75px}
